{% extends 'stelaapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    STELA - {{candidate.profile.user.first_name}} {{candidate.profile.user.last_name}}
{% endblock %}

{% block content %}
    <h1> {{candidate.profile.user.first_name}} {{candidate.profile.user.last_name}} </h1>
    <h3>Candidate for</h3>
    {{candidate.position.name}}
    <h3>About me</h3>
    <p> {{candidate.aboutMe}}</p>
    <h3>My solutions to student problems</h3>
    <p>{{candidate.solutions}}</p>

    <img src="{{candidate.photo.url}}">

    {% if canUserVote %}
        <a href="./vote"><button type="button" class="btn btn-outline-success">Vote</button></a>
    {% endif %}
    {% if didUserVote %}
        <a href="./unvote"><button type="button" class="btn btn-outline-danger">Unvote</button></a>
    {% endif %}

{% endblock %}
